openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Cortana Service Connections API
  description: API for integrating voice commands and Cortana digital assistant capabilities into Windows applications. Enables voice-activated interactions through Voice Command Definitions (VCD) that specify commands, phrases, and feedback. Applications register VCD files to define custom voice commands that Cortana recognizes and routes to the appropriate app handler.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/cortana/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Service Connections
paths:
  /cortana/service-connections:
    post:
      operationId: createCortanaServiceConnection
      summary: Microsoft Windows 10 Create a Cortana app service connection
      description: Establishes a connection to the Cortana app service for handling voice commands in the background. Uses VoiceCommandServiceConnection to receive voice commands, display progress, and return results to Cortana.
      tags:
      - Service Connections
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ServiceConnectionRequest'
      responses:
        '201':
          description: Service connection established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceConnection'
        '400':
          description: Invalid connection request
components:
  schemas:
    ServiceConnectionRequest:
      type: object
      properties:
        triggerDetails:
          type: object
          description: AppServiceTriggerDetails from the background task
    ServiceConnection:
      type: object
      properties:
        id:
          type: string
          description: Connection identifier
        language:
          type: string
          description: Language of the voice command
        voiceCommandName:
          type: string
          description: Name of the recognized voice command
externalDocs:
  description: Cortana Voice Commands Documentation
  url: https://learn.microsoft.com/en-us/cortana/voice-commands/vcd
