openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Pedometer API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Pedometer
paths:
  /sensors/pedometer/reading:
    get:
      operationId: getPedometerReading
      summary: Microsoft Windows 10 Get pedometer reading
      description: Retrieves the current pedometer reading using Pedometer.GetCurrentReadings. Returns step counts categorized by step kind (walking, running, unknown).
      tags:
      - Pedometer
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PedometerReading'
        '404':
          description: Pedometer not available
components:
  schemas:
    PedometerReading:
      type: object
      description: Pedometer reading data
      properties:
        cumulativeSteps:
          type: integer
          description: Total step count
        stepKind:
          type: string
          enum:
          - Unknown
          - Walking
          - Running
          description: Type of step
        cumulativeStepsDuration:
          type: string
          description: Duration of steps
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
