openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer Command Queues API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Command Queues
paths:
  /directx/command-queues:
    post:
      operationId: createCommandQueue
      summary: Microsoft Windows 10 Create a command queue
      description: Creates a Direct3D 12 command queue (ID3D12CommandQueue) for submitting command lists to the GPU. Command queues can be of type Direct, Compute, or Copy, determining which GPU operations they support.
      tags:
      - Command Queues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommandQueueRequest'
      responses:
        '201':
          description: Command queue created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandQueue'
        '400':
          description: Invalid queue configuration
components:
  schemas:
    CommandQueue:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        priority:
          type: string
    CreateCommandQueueRequest:
      type: object
      properties:
        type:
          type: string
          enum:
          - Direct
          - Compute
          - Copy
          description: Command queue type
        priority:
          type: string
          enum:
          - Normal
          - High
          - GlobalRealtime
          default: Normal
      required:
      - type
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
