openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Networking HTTP Client API
  description: API for network communication in Windows applications, based on the Windows.Networking.Sockets and Windows.Web.Http namespaces. Provides support for TCP/UDP sockets (StreamSocket, DatagramSocket), WebSockets (MessageWebSocket, StreamWebSocket), HTTP clients (HttpClient), and background transfers (BackgroundDownloader, BackgroundUploader).
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/networking/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: HTTP Client
paths:
  /networking/http/requests:
    post:
      operationId: sendHttpRequest
      summary: Microsoft Windows 10 Send an HTTP request
      description: Sends an HTTP request using the Windows.Web.Http.HttpClient class. Supports GET, POST, PUT, PATCH, DELETE methods with configurable headers, content types, and authentication. Includes built-in cookie management and automatic decompression.
      tags:
      - HTTP Client
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpRequest'
      responses:
        '200':
          description: HTTP response received
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HttpResponse'
        '400':
          description: Invalid request
components:
  schemas:
    HttpRequest:
      type: object
      properties:
        method:
          type: string
          enum:
          - GET
          - POST
          - PUT
          - PATCH
          - DELETE
          - HEAD
          - OPTIONS
        uri:
          type: string
          format: uri
        headers:
          type: object
          additionalProperties:
            type: string
        content:
          type: string
          description: Request body content
        contentType:
          type: string
          description: Content-Type header value
      required:
      - method
      - uri
    HttpResponse:
      type: object
      properties:
        statusCode:
          type: integer
        reasonPhrase:
          type: string
        headers:
          type: object
          additionalProperties:
            type: string
        content:
          type: string
        isSuccessStatusCode:
          type: boolean
externalDocs:
  description: Windows Networking API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.networking.sockets
