openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Light Sensor API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Light Sensor
paths:
  /sensors/light/reading:
    get:
      operationId: getLightSensorReading
      summary: Microsoft Windows 10 Get light sensor reading
      description: Retrieves the current ambient light sensor reading using LightSensor.GetCurrentReading. Returns illuminance in lux and optionally chromaticity coordinates.
      tags:
      - Light Sensor
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LightSensorReading'
        '404':
          description: Light sensor not available
components:
  schemas:
    LightSensorReading:
      type: object
      description: Ambient light sensor reading
      properties:
        illuminanceInLux:
          type: number
          format: float
          description: Ambient light level in lux
        chromaticity:
          type: object
          properties:
            x:
              type: number
              format: float
            y:
              type: number
              format: float
          description: CIE xyY chromaticity coordinates
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
