openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Orientation API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Orientation
paths:
  /sensors/orientation/reading:
    get:
      operationId: getOrientationReading
      summary: Microsoft Windows 10 Get orientation sensor reading
      description: Retrieves the current orientation sensor reading using OrientationSensor.GetCurrentReading. Returns a rotation matrix and quaternion representing the device's spatial orientation. The orientation sensor fuses data from accelerometer, compass, and gyrometer for smooth results.
      tags:
      - Orientation
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrientationReading'
        '404':
          description: Orientation sensor not available
components:
  schemas:
    OrientationReading:
      type: object
      description: Orientation sensor reading data
      properties:
        quaternion:
          type: object
          properties:
            w:
              type: number
              format: float
            x:
              type: number
              format: float
            y:
              type: number
              format: float
            z:
              type: number
              format: float
          description: Orientation as a quaternion
        rotationMatrix:
          type: object
          properties:
            m11:
              type: number
              format: float
            m12:
              type: number
              format: float
            m13:
              type: number
              format: float
            m21:
              type: number
              format: float
            m22:
              type: number
              format: float
            m23:
              type: number
              format: float
            m31:
              type: number
              format: float
            m32:
              type: number
              format: float
            m33:
              type: number
              format: float
          description: 3x3 rotation matrix
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
