openapi: 3.2.0
info:
  title: Microsoft Windows 10 Win32 Functions API
  description: Core Windows API for building traditional desktop applications using C and C++. Win32 provides direct access to system-level functionality including window management, graphics, networking, and hardware. This specification models the major Win32 API categories including User Interface, System Services, Graphics, Networking, Security, and Devices.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Functions
paths:
  /win32/api-categories/{categoryId}/functions:
    get:
      operationId: listCategoryFunctions
      summary: Microsoft Windows 10 List functions in a category
      description: Retrieves the list of Win32 API functions within a specified category. Each function includes its DLL, parameters, return type, and minimum supported version information.
      tags:
      - Functions
      parameters:
      - name: categoryId
        in: path
        required: true
        description: The API category identifier
        schema:
          type: string
      - name: dll
        in: query
        required: false
        description: Filter by DLL name (e.g., kernel32.dll, user32.dll)
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of functions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Win32Function'
        '404':
          description: Category not found
  /win32/functions/{functionName}:
    get:
      operationId: getWin32FunctionDetails
      summary: Microsoft Windows 10 Get Win32 function details
      description: Retrieves detailed information about a specific Win32 function including its syntax, parameters, return value, remarks, requirements (minimum supported client/server, header, library, DLL), and related functions.
      tags:
      - Functions
      parameters:
      - name: functionName
        in: path
        required: true
        description: The function name (e.g., CreateWindowExW, SendMessage)
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of function details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Win32FunctionDetail'
        '404':
          description: Function not found
components:
  schemas:
    FunctionRequirements:
      type: object
      properties:
        minimumSupportedClient:
          type: string
          example: Windows 10 [desktop apps only]
        minimumSupportedServer:
          type: string
          example: Windows Server 2016
        header:
          type: string
          example: winuser.h
        library:
          type: string
          example: User32.lib
        dll:
          type: string
          example: User32.dll
    Win32FunctionDetail:
      type: object
      description: Detailed Win32 function information
      properties:
        name:
          type: string
          description: Function name
        syntax:
          type: string
          description: Function signature in C/C++
        parameters:
          type: array
          items:
            $ref: '#/components/schemas/FunctionParameter'
        returnValue:
          type: object
          properties:
            type:
              type: string
            description:
              type: string
        remarks:
          type: string
          description: Additional notes and usage guidance
        requirements:
          $ref: '#/components/schemas/FunctionRequirements'
        relatedFunctions:
          type: array
          items:
            type: string
      required:
      - name
      - syntax
    Win32Function:
      type: object
      description: A Win32 API function
      properties:
        name:
          type: string
          description: Function name
          example: CreateWindowExW
        dll:
          type: string
          description: DLL that exports the function
          example: user32.dll
        header:
          type: string
          description: Header file declaring the function
          example: winuser.h
        category:
          type: string
          description: API category
        description:
          type: string
          description: Brief description of the function
        minClientVersion:
          type: string
          description: Minimum supported client version
          example: Windows 10
      required:
      - name
      - dll
    FunctionParameter:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
        direction:
          type: string
          enum:
          - in
          - out
          - inout
        description:
          type: string
        optional:
          type: boolean
externalDocs:
  description: Win32 API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/
