openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Composition Effects API
  description: The Windows.UI.Composition API provides access to the visual layer between the XAML framework and the DirectX graphics layer. Based on the Windows.UI.Composition namespace, it enables high-performance retained-mode graphics, effects, and animations. Key classes include Compositor, Visual, SpriteVisual, ContainerVisual, CompositionAnimation, CompositionEffectBrush, and CompositionSurfaceBrush.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/composition/visual-layer
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Effects
paths:
  /composition/effects:
    post:
      operationId: createEffect
      summary: Microsoft Windows 10 Create a composition effect
      description: Creates a CompositionEffectBrush for applying visual effects such as blur (GaussianBlurEffect), saturation, color adjustments, and compositing. Effects are created via Compositor.CreateEffectFactory and applied to SpriteVisual objects via their Brush property.
      tags:
      - Effects
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEffectRequest'
      responses:
        '201':
          description: Effect created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositionEffect'
        '400':
          description: Invalid effect configuration
components:
  schemas:
    CompositionEffect:
      type: object
      properties:
        id:
          type: string
        effectType:
          type: string
          enum:
          - GaussianBlur
          - Saturation
          - Grayscale
          - Invert
          - Sepia
          - TemperatureAndTint
          - Composite
          description: Type of effect
    CreateEffectRequest:
      type: object
      properties:
        effectType:
          type: string
          enum:
          - GaussianBlur
          - Saturation
          - Grayscale
          - Invert
          - Sepia
          - TemperatureAndTint
          - Composite
        properties:
          type: object
          additionalProperties:
            type: number
          description: Effect-specific properties (e.g., BlurAmount for GaussianBlur)
        animatableProperties:
          type: array
          items:
            type: string
          description: Properties that can be animated
      required:
      - effectType
externalDocs:
  description: Windows.UI.Composition API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.ui.composition
