openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer UDP Sockets API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: UDP Sockets
paths:
  /networking/sockets/udp:
    post:
      operationId: createUdpSocket
      summary: Microsoft Windows 10 Create a UDP datagram socket
      description: Creates a DatagramSocket for UDP communication. DatagramSocket provides connectionless, unreliable datagrams for low-latency communication. Supports multicast group membership via JoinMulticastGroup.
      tags:
      - UDP Sockets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUdpSocketRequest'
      responses:
        '201':
          description: UDP socket created and bound
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatagramSocket'
        '400':
          description: Invalid socket configuration
components:
  schemas:
    DatagramSocket:
      type: object
      description: A UDP datagram socket (DatagramSocket class)
      properties:
        id:
          type: string
        localAddress:
          type: string
        localPort:
          type: string
    CreateUdpSocketRequest:
      type: object
      properties:
        localServiceName:
          type: string
          description: Local port to bind to
        multicastGroup:
          type: string
          description: Multicast group address to join
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
