openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Inclinometer API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Inclinometer
paths:
  /sensors/inclinometer/reading:
    get:
      operationId: getInclinometerReading
      summary: Microsoft Windows 10 Get inclinometer reading
      description: Retrieves the current inclinometer reading using Inclinometer.GetCurrentReading. Returns pitch, roll, and yaw values in degrees corresponding to rotation around the x, y, and z axes.
      tags:
      - Inclinometer
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InclinometerReading'
        '404':
          description: Inclinometer not available
components:
  schemas:
    InclinometerReading:
      type: object
      description: Inclinometer reading data
      properties:
        pitchDegrees:
          type: number
          format: double
          description: Pitch rotation around X axis
        rollDegrees:
          type: number
          format: double
          description: Roll rotation around Y axis
        yawDegrees:
          type: number
          format: double
          description: Yaw rotation around Z axis
        yawAccuracy:
          type: string
          enum:
          - Unknown
          - Unreliable
          - Approximate
          - High
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
