openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Storage Libraries API
  description: API for file system access, storage management, and data operations in Windows applications. Based on the Windows.Storage namespace, this API provides classes for reading, writing, and managing files (StorageFile) and folders (StorageFolder) with appropriate access permissions. Also includes ApplicationData for settings and app data management, KnownFolders for library access, and StorageLibrary for library management with change tracking.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/files/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Libraries
paths:
  /storage/libraries:
    get:
      operationId: listStorageLibraries
      summary: Microsoft Windows 10 List storage libraries
      description: Retrieves the list of storage libraries (Documents, Music, Pictures, Videos) using StorageLibrary.GetLibraryAsync. Each library contains a list of included folders and supports change tracking.
      tags:
      - Libraries
      responses:
        '200':
          description: Successful retrieval of libraries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorageLibrary'
components:
  schemas:
    StorageLibrary:
      type: object
      description: A storage library (StorageLibrary class)
      properties:
        id:
          type: string
          description: Library identifier
          enum:
          - Documents
          - Music
          - Pictures
          - Videos
        folders:
          type: array
          items:
            $ref: '#/components/schemas/StorageFolder'
          description: Folders included in the library
        saveFolder:
          $ref: '#/components/schemas/StorageFolder'
    StorageFolder:
      type: object
      description: A storage folder (StorageFolder class)
      properties:
        name:
          type: string
          description: Folder name
        path:
          type: string
          description: Full folder path
        dateCreated:
          type: string
          format: date-time
        attributes:
          type: array
          items:
            type: string
      required:
      - name
      - path
externalDocs:
  description: Windows.Storage API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.storage
