openapi: 3.2.0
info:
  title: Microsoft Windows 10 DirectX Graphics Presentation API
  description: Low-level graphics API for building high-performance 2D and 3D rendering in Windows applications. Includes Direct3D 12 for 3D graphics with explicit GPU control, Direct2D for hardware-accelerated 2D graphics, and DirectWrite for high-quality text rendering. This specification models the key DirectX resource management and rendering pipeline operations.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/directx
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Presentation
paths:
  /directx/swap-chains:
    post:
      operationId: createSwapChain
      summary: Microsoft Windows 10 Create a swap chain
      description: Creates a DXGI swap chain (IDXGISwapChain) for presenting rendered frames to a window or output. The swap chain manages the back buffer(s) and handles presentation including v-sync and frame latency.
      tags:
      - Presentation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSwapChainRequest'
      responses:
        '201':
          description: Swap chain created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SwapChain'
        '400':
          description: Invalid swap chain configuration
components:
  schemas:
    SwapChain:
      type: object
      properties:
        id:
          type: string
        width:
          type: integer
        height:
          type: integer
        format:
          type: string
        bufferCount:
          type: integer
    CreateSwapChainRequest:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        format:
          type: string
          description: Back buffer format
          default: R8G8B8A8_UNORM
        bufferCount:
          type: integer
          default: 2
        swapEffect:
          type: string
          enum:
          - Discard
          - Sequential
          - FlipSequential
          - FlipDiscard
          default: FlipDiscard
        isWindowed:
          type: boolean
          default: true
      required:
      - width
      - height
externalDocs:
  description: DirectX Graphics Reference
  url: https://learn.microsoft.com/en-us/windows/win32/directx
