openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Runtime (WinRT) Activation API
  description: Modern API surface for building Universal Windows Platform (UWP) applications that run across all Windows 10 device families. WinRT provides a type system, APIs, and runtime environment for building apps using C#, C++, Visual Basic, and JavaScript. This specification models the key WinRT namespaces and their primary classes as a RESTful interface for documentation purposes.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://developer.microsoft.com/en-us/windows/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Activation
paths:
  /winrt/activation:
    post:
      operationId: activateRuntimeClass
      summary: Microsoft Windows 10 Activate a runtime class
      description: Activates (instantiates) a WinRT runtime class by its activation factory. The Windows Runtime uses activation factories to create instances of runtime classes. This is the core mechanism by which UWP apps create objects.
      tags:
      - Activation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ActivationRequest'
      responses:
        '200':
          description: Runtime class activated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationResult'
        '400':
          description: Invalid activation request
        '404':
          description: Runtime class not found
components:
  schemas:
    ActivationRequest:
      type: object
      properties:
        runtimeClassName:
          type: string
          description: Fully qualified runtime class name to activate
          example: Windows.UI.Notifications.ToastNotification
        constructorArgs:
          type: array
          items:
            type: object
          description: Arguments to pass to the constructor
      required:
      - runtimeClassName
    ActivationResult:
      type: object
      properties:
        instanceId:
          type: string
          description: Unique identifier for the activated instance
        runtimeClassName:
          type: string
          description: The runtime class that was activated
        status:
          type: string
          enum:
          - activated
          - failed
          description: Activation result status
externalDocs:
  description: Windows Runtime API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/
