openapi: 3.2.0
info:
  title: Microsoft Windows 10 Win32 API Categories API
  description: Core Windows API for building traditional desktop applications using C and C++. Win32 provides direct access to system-level functionality including window management, graphics, networking, and hardware. This specification models the major Win32 API categories including User Interface, System Services, Graphics, Networking, Security, and Devices.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: API Categories
paths:
  /win32/api-categories:
    get:
      operationId: listWin32ApiCategories
      summary: Microsoft Windows 10 List Win32 API categories
      description: Retrieves the list of major Win32 API categories including User Interface, Windows Environment (Shell), User Input and Messaging, Data Access and Storage, Diagnostics, Graphics and Multimedia, Devices, System Services, Security and Identity, Networking and Internet, and System Administration.
      tags:
      - API Categories
      responses:
        '200':
          description: Successful retrieval of API categories
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiCategory'
        '401':
          description: Unauthorized
components:
  schemas:
    ApiCategory:
      type: object
      description: A major Win32 API category
      properties:
        id:
          type: string
          description: Category identifier
        name:
          type: string
          description: Category name
          example: User Interface
        description:
          type: string
          description: Category description
        subcategories:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              description:
                type: string
              referenceUrl:
                type: string
                format: uri
        functionCount:
          type: integer
          description: Number of functions in this category
      required:
      - id
      - name
externalDocs:
  description: Win32 API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/
