openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer Gyrometer API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Gyrometer
paths:
  /sensors/gyrometer/reading:
    get:
      operationId: getGyrometerReading
      summary: Microsoft Windows 10 Get gyrometer reading
      description: Retrieves the current gyrometer reading using Gyrometer.GetCurrentReading. Returns angular velocity in degrees per second along the x, y, and z axes.
      tags:
      - Gyrometer
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GyrometerReading'
        '404':
          description: Gyrometer not available
components:
  schemas:
    GyrometerReading:
      type: object
      description: Gyrometer reading data
      properties:
        angularVelocityX:
          type: number
          format: double
          description: Angular velocity around X axis (deg/s)
        angularVelocityY:
          type: number
          format: double
          description: Angular velocity around Y axis (deg/s)
        angularVelocityZ:
          type: number
          format: double
          description: Angular velocity around Z axis (deg/s)
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
