openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Composition Surfaces API
  description: The Windows.UI.Composition API provides access to the visual layer between the XAML framework and the DirectX graphics layer. Based on the Windows.UI.Composition namespace, it enables high-performance retained-mode graphics, effects, and animations. Key classes include Compositor, Visual, SpriteVisual, ContainerVisual, CompositionAnimation, CompositionEffectBrush, and CompositionSurfaceBrush.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/composition/visual-layer
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Surfaces
paths:
  /composition/surfaces:
    post:
      operationId: createSurface
      summary: Microsoft Windows 10 Create a composition surface
      description: Creates a CompositionDrawingSurface or CompositionVirtualDrawingSurface for rendering content onto visuals. Surfaces can be backed by Direct2D, Win2D, or bitmap images using CompositionGraphicsDevice.
      tags:
      - Surfaces
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSurfaceRequest'
      responses:
        '201':
          description: Surface created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositionSurface'
        '400':
          description: Invalid surface configuration
components:
  schemas:
    CompositionSurface:
      type: object
      properties:
        id:
          type: string
        size:
          $ref: '#/components/schemas/Vector2'
        pixelFormat:
          type: string
          enum:
          - B8G8R8A8UIntNormalized
          - R8G8B8A8UIntNormalized
          - R16G16B16A16Float
        alphaMode:
          type: string
          enum:
          - Premultiplied
          - Straight
          - Ignore
    CreateSurfaceRequest:
      type: object
      properties:
        width:
          type: integer
        height:
          type: integer
        pixelFormat:
          type: string
          enum:
          - B8G8R8A8UIntNormalized
          - R8G8B8A8UIntNormalized
          - R16G16B16A16Float
          default: B8G8R8A8UIntNormalized
        alphaMode:
          type: string
          enum:
          - Premultiplied
          - Straight
          - Ignore
          default: Premultiplied
      required:
      - width
      - height
    Vector2:
      type: object
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
externalDocs:
  description: Windows.UI.Composition API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.ui.composition
