openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Storage Folders API
  description: API for file system access, storage management, and data operations in Windows applications. Based on the Windows.Storage namespace, this API provides classes for reading, writing, and managing files (StorageFile) and folders (StorageFolder) with appropriate access permissions. Also includes ApplicationData for settings and app data management, KnownFolders for library access, and StorageLibrary for library management with change tracking.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/files/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Folders
paths:
  /storage/folders:
    get:
      operationId: listStorageFolders
      summary: Microsoft Windows 10 List storage folders
      description: Retrieves the list of subfolders in a specified location using StorageFolder.GetFoldersAsync. Includes folder metadata such as name, path, date created, and item counts.
      tags:
      - Folders
      parameters:
      - name: parentFolderId
        in: query
        required: false
        description: Parent folder identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of folders
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorageFolder'
    post:
      operationId: createStorageFolder
      summary: Microsoft Windows 10 Create a folder
      description: Creates a new folder using StorageFolder.CreateFolderAsync. Supports collision options to handle existing folders with the same name.
      tags:
      - Folders
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderRequest'
      responses:
        '201':
          description: Folder created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageFolder'
        '409':
          description: Folder already exists
components:
  schemas:
    StorageFolder:
      type: object
      description: A storage folder (StorageFolder class)
      properties:
        name:
          type: string
          description: Folder name
        path:
          type: string
          description: Full folder path
        dateCreated:
          type: string
          format: date-time
        attributes:
          type: array
          items:
            type: string
      required:
      - name
      - path
    CreateFolderRequest:
      type: object
      properties:
        parentPath:
          type: string
          description: Path of the parent folder
        name:
          type: string
          description: Name for the new folder
        collisionOption:
          type: string
          enum:
          - GenerateUniqueName
          - ReplaceExisting
          - FailIfExists
          - OpenIfExists
          description: How to handle name collisions (CreationCollisionOption)
          default: FailIfExists
      required:
      - name
externalDocs:
  description: Windows.Storage API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.storage
