openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows ML Evaluation API
  description: API for integrating trained machine learning models into Windows applications using the ONNX format. Based on the Windows.AI.MachineLearning namespace, Windows ML evaluates models locally on the device using hardware acceleration with DirectX 12. Key classes include LearningModel, LearningModelSession, LearningModelBinding, and LearningModelEvaluationResult.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/ai/windows-ml/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Evaluation
paths:
  /ml/sessions/{sessionId}/evaluate:
    post:
      operationId: evaluateMLModel
      summary: Microsoft Windows 10 Evaluate model with input data
      description: Evaluates the model with bound input data using LearningModelSession.Evaluate. Input features are bound via a LearningModelBinding, and results are returned as a LearningModelEvaluationResult containing output tensors, maps, sequences, or images.
      tags:
      - Evaluation
      parameters:
      - name: sessionId
        in: path
        required: true
        description: Unique identifier for the evaluation session
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluationRequest'
      responses:
        '200':
          description: Evaluation completed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluationResult'
        '400':
          description: Invalid input bindings
        '404':
          description: Session not found
components:
  schemas:
    EvaluationRequest:
      type: object
      description: Input bindings for model evaluation
      properties:
        correlationId:
          type: string
          description: Correlation ID for tracking the evaluation
        bindings:
          type: object
          additionalProperties:
            type: object
          description: Map of feature names to their input values
      required:
      - bindings
    EvaluationResult:
      type: object
      description: Result of a model evaluation (LearningModelEvaluationResult)
      properties:
        correlationId:
          type: string
          description: Correlation ID from the request
        succeeded:
          type: boolean
          description: Whether evaluation succeeded
        errorStatus:
          type: integer
          description: Error code if evaluation failed
        outputs:
          type: object
          additionalProperties:
            type: object
          description: Map of output feature names to their values
externalDocs:
  description: Windows ML API Reference
  url: https://learn.microsoft.com/en-us/windows/ai/windows-ml/api-reference
