openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer Background Transfers API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Background Transfers
paths:
  /networking/background-transfers/downloads:
    post:
      operationId: createBackgroundDownload
      summary: Microsoft Windows 10 Create a background download
      description: Creates a background download operation using BackgroundDownloader. Background transfers continue even when the app is suspended and support progress tracking, pause/resume, and cost-aware transfers.
      tags:
      - Background Transfers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackgroundDownloadRequest'
      responses:
        '201':
          description: Background download created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundTransferOperation'
        '400':
          description: Invalid download request
    get:
      operationId: listBackgroundDownloads
      summary: Microsoft Windows 10 List background downloads
      description: Retrieves the list of active and pending background download operations using BackgroundDownloader.GetCurrentDownloadsAsync.
      tags:
      - Background Transfers
      responses:
        '200':
          description: Successful retrieval of downloads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BackgroundTransferOperation'
components:
  schemas:
    BackgroundDownloadRequest:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: Source URI
        destinationFile:
          type: string
          description: Destination file path
        costPolicy:
          type: string
          enum:
          - Default
          - UnrestrictedOnly
          - Always
          default: Default
        priority:
          type: string
          enum:
          - Default
          - High
          - Low
          default: Default
      required:
      - uri
      - destinationFile
    BackgroundTransferOperation:
      type: object
      properties:
        id:
          type: string
        uri:
          type: string
          format: uri
        destinationFile:
          type: string
        status:
          type: string
          enum:
          - Idle
          - Running
          - PausedByApplication
          - PausedCostedNetwork
          - PausedNoNetwork
          - Completed
          - Canceled
          - Error
        progress:
          type: object
          properties:
            bytesReceived:
              type: integer
              format: int64
            totalBytesToReceive:
              type: integer
              format: int64
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
