openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Cortana Phrase Lists API
  description: API for integrating voice commands and Cortana digital assistant capabilities into Windows applications. Enables voice-activated interactions through Voice Command Definitions (VCD) that specify commands, phrases, and feedback. Applications register VCD files to define custom voice commands that Cortana recognizes and routes to the appropriate app handler.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/cortana/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Phrase Lists
paths:
  /cortana/voice-commands/{commandSetName}/phrase-lists/{phraseListName}:
    put:
      operationId: updatePhraseList
      summary: Microsoft Windows 10 Update a phrase list
      description: Updates a phrase list within a voice command set using VoiceCommandDefinition.SetPhraseListAsync. Phrase lists are dynamic vocabularies that can be updated at runtime without reinstalling the VCD file.
      tags:
      - Phrase Lists
      parameters:
      - name: commandSetName
        in: path
        required: true
        description: The name of the voice command set
        schema:
          type: string
      - name: phraseListName
        in: path
        required: true
        description: The name of the phrase list to update
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdatePhraseListRequest'
      responses:
        '200':
          description: Phrase list updated successfully
        '404':
          description: Command set or phrase list not found
components:
  schemas:
    UpdatePhraseListRequest:
      type: object
      properties:
        phrases:
          type: array
          items:
            type: string
          description: Updated list of phrases
      required:
      - phrases
externalDocs:
  description: Cortana Voice Commands Documentation
  url: https://learn.microsoft.com/en-us/cortana/voice-commands/vcd
