openapi: 3.2.0
info:
  title: Microsoft Windows 10 WinUI Styles API
  description: Modern native UI framework for building Windows desktop applications with the Fluent Design System. Based on the Microsoft.UI.Xaml namespace, WinUI provides XAML-based controls, high-performance rendering, and supports both C# and C++ development. Key areas include controls (NavigationView, TreeView, InfoBar, ProgressRing), layout (Grid, StackPanel, RelativePanel), styling (themes, brushes, animations), and input handling.
  version: 2.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/winui/winui2/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Styles
paths:
  /winui/styles:
    get:
      operationId: listStyles
      summary: Microsoft Windows 10 List built-in styles
      description: Retrieves the catalog of built-in WinUI styles and resources including Fluent Design System brushes, typography, corner radius, spacing, and animation definitions from generic.xaml.
      tags:
      - Styles
      parameters:
      - name: resourceType
        in: query
        required: false
        description: Filter by resource type
        schema:
          type: string
          enum:
          - Brushes
          - Typography
          - CornerRadius
          - Spacing
          - Animations
      responses:
        '200':
          description: Successful retrieval of styles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StyleResource'
components:
  schemas:
    StyleResource:
      type: object
      properties:
        key:
          type: string
          description: Resource key name
        type:
          type: string
          description: Resource type (Brush, Double, CornerRadius, etc.)
        value:
          type: string
          description: Default value
        themeVariants:
          type: object
          properties:
            light:
              type: string
            dark:
              type: string
            highContrast:
              type: string
externalDocs:
  description: WinUI API Reference
  url: https://learn.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls
