openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Bluetooth BLE Scanning API
  description: API for Bluetooth communication in Windows applications, based on the Windows.Devices.Bluetooth namespace. Supports Bluetooth Classic (RFCOMM) for stream-based communication and Bluetooth Low Energy (GATT) for attribute-based communication with BLE peripherals. Key classes include BluetoothDevice, BluetoothLEDevice, RfcommDeviceService, GattDeviceService, GattCharacteristic, and BluetoothLEAdvertisementWatcher.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/devices-sensors/bluetooth
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: BLE Scanning
paths:
  /bluetooth/le/scan:
    post:
      operationId: startBLEScan
      summary: Microsoft Windows 10 Start BLE advertisement scanning
      description: Starts scanning for BLE advertisements using BluetoothLEAdvertisementWatcher. Discovers nearby BLE devices that are broadcasting advertisement packets. Supports filtering by service UUID, manufacturer data, and signal strength.
      tags:
      - BLE Scanning
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BLEScanRequest'
      responses:
        '200':
          description: Scan started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BLEScanSession'
components:
  schemas:
    BLEScanSession:
      type: object
      properties:
        id:
          type: string
        status:
          type: string
          enum:
          - Started
          - Stopped
          - Aborted
    BLEScanRequest:
      type: object
      properties:
        scanningMode:
          type: string
          enum:
          - Passive
          - Active
          default: Active
        serviceUuidFilter:
          type: array
          items:
            type: string
          description: Filter by service UUIDs
        signalStrengthFilter:
          type: object
          properties:
            inRangeThresholdInDBm:
              type: integer
            outOfRangeThresholdInDBm:
              type: integer
externalDocs:
  description: Windows Bluetooth API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/_bluetooth/
