openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer Models API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Models
paths:
  /ml/models:
    get:
      operationId: listMLModels
      summary: Microsoft Windows 10 List loaded ML models
      description: Retrieves the list of currently loaded machine learning models. Each model is loaded via the LearningModel class from ONNX format files and provides metadata including the model author, name, domain, description, version, and input/output features.
      tags:
      - Models
      responses:
        '200':
          description: Successful retrieval of loaded models
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LearningModel'
    post:
      operationId: loadMLModel
      summary: Microsoft Windows 10 Load a machine learning model
      description: Loads an ONNX machine learning model using LearningModel.LoadFromFilePath or LearningModel.LoadFromStream. The loaded model can then be used to create evaluation sessions. Supports ONNX versions 1.2 and 1.3.
      tags:
      - Models
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadModelRequest'
      responses:
        '201':
          description: Model loaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningModel'
        '400':
          description: Invalid model file or format
        '415':
          description: Unsupported model format (must be ONNX)
  /ml/models/{modelId}:
    get:
      operationId: getMLModel
      summary: Microsoft Windows 10 Get model details
      description: Retrieves detailed information about a loaded model including its input features (ILearningModelFeatureDescriptor), output features, metadata properties, and device capabilities.
      tags:
      - Models
      parameters:
      - name: modelId
        in: path
        required: true
        description: Unique identifier for the loaded model
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of model details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LearningModelDetail'
        '404':
          description: Model not found
    delete:
      operationId: unloadMLModel
      summary: Microsoft Windows 10 Unload a machine learning model
      description: Unloads a machine learning model by calling LearningModel.Close, releasing all associated resources and terminating any active sessions.
      tags:
      - Models
      parameters:
      - name: modelId
        in: path
        required: true
        description: Unique identifier for the model
        schema:
          type: string
      responses:
        '204':
          description: Model unloaded successfully
        '404':
          description: Model not found
components:
  schemas:
    LearningModelDetail:
      type: object
      description: Detailed model information
      properties:
        id:
          type: string
        name:
          type: string
        author:
          type: string
        domain:
          type: string
        description:
          type: string
        version:
          type: integer
        inputFeatures:
          type: array
          items:
            $ref: '#/components/schemas/FeatureDescriptor'
        outputFeatures:
          type: array
          items:
            $ref: '#/components/schemas/FeatureDescriptor'
        metadata:
          type: object
          additionalProperties:
            type: string
          description: Key-value metadata from the ONNX model
    LoadModelRequest:
      type: object
      properties:
        filePath:
          type: string
          description: Path to the ONNX model file
        modelFormat:
          type: string
          enum:
          - ONNX
          description: Model format (currently only ONNX supported)
          default: ONNX
      required:
      - filePath
    LearningModel:
      type: object
      description: A loaded ONNX machine learning model (LearningModel class)
      properties:
        id:
          type: string
          description: Unique model identifier
        name:
          type: string
          description: Model name from metadata
        author:
          type: string
          description: Model author from metadata
        domain:
          type: string
          description: Model domain from metadata
        description:
          type: string
          description: Model description from metadata
        version:
          type: integer
          description: Model version
        inputFeatureCount:
          type: integer
          description: Number of input features
        outputFeatureCount:
          type: integer
          description: Number of output features
      required:
      - id
      - name
    FeatureDescriptor:
      type: object
      description: Describes an input or output feature of a model (ILearningModelFeatureDescriptor)
      properties:
        name:
          type: string
          description: Feature name
        description:
          type: string
          description: Feature description
        kind:
          type: string
          enum:
          - Tensor
          - Sequence
          - Map
          - Image
          description: The kind of feature (TensorFeatureDescriptor, ImageFeatureDescriptor, etc.)
        isRequired:
          type: boolean
          description: Whether the feature is required
        shape:
          type: array
          items:
            type: integer
          description: Tensor shape dimensions (for tensor features)
        tensorDataType:
          type: string
          enum:
          - Float
          - Float16
          - Double
          - Int8
          - UInt8
          - Int16
          - UInt16
          - Int32
          - UInt32
          - Int64
          - UInt64
          - String
          - Boolean
          description: Data type for tensor features
      required:
      - name
      - kind
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
