openapi: 3.2.0
info:
  title: Microsoft Windows 10 Win32 Messages API
  description: Core Windows API for building traditional desktop applications using C and C++. Win32 provides direct access to system-level functionality including window management, graphics, networking, and hardware. This specification models the major Win32 API categories including User Interface, System Services, Graphics, Networking, Security, and Devices.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Messages
paths:
  /win32/messages:
    get:
      operationId: listWindowMessages
      summary: Microsoft Windows 10 List window messages
      description: Retrieves the list of Win32 window messages (WM_*) used for inter-window communication. Includes system-defined messages for window management, user input, and application-defined messages.
      tags:
      - Messages
      parameters:
      - name: prefix
        in: query
        required: false
        description: Filter messages by prefix (e.g., WM_, BM_, CB_)
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of messages
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WindowMessage'
components:
  schemas:
    WindowMessage:
      type: object
      description: A Win32 window message
      properties:
        name:
          type: string
          description: Message constant name
          example: WM_CREATE
        value:
          type: string
          description: Numeric value of the message
          example: '0x0001'
        description:
          type: string
          description: Description of when the message is sent
        wParam:
          type: string
          description: Meaning of the wParam parameter
        lParam:
          type: string
          description: Meaning of the lParam parameter
      required:
      - name
      - value
externalDocs:
  description: Win32 API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/
