openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Gyrometer API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Gyrometer
paths:
  /sensors/gyrometer/reading:
    get:
      operationId: getGyrometerReading
      summary: Microsoft Windows 10 Get gyrometer reading
      description: Retrieves the current gyrometer reading using Gyrometer.GetCurrentReading. Returns angular velocity in degrees per second along the x, y, and z axes.
      tags:
      - Gyrometer
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GyrometerReading'
        '404':
          description: Gyrometer not available
components:
  schemas:
    GyrometerReading:
      type: object
      description: Gyrometer reading data
      properties:
        angularVelocityX:
          type: number
          format: double
          description: Angular velocity around X axis (deg/s)
        angularVelocityY:
          type: number
          format: double
          description: Angular velocity around Y axis (deg/s)
        angularVelocityZ:
          type: number
          format: double
          description: Angular velocity around Z axis (deg/s)
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
