openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Bluetooth GATT Characteristics…
  description: API for Bluetooth communication in Windows applications, based on the Windows.Devices.Bluetooth namespace. Supports Bluetooth Classic (RFCOMM) for stream-based communication and Bluetooth Low Energy (GATT) for attribute-based communication with BLE peripherals. Key classes include BluetoothDevice, BluetoothLEDevice, RfcommDeviceService, GattDeviceService, GattCharacteristic, and BluetoothLEAdvertisementWatcher.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/devices-sensors/bluetooth
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: GATT Characteristics
paths:
  /bluetooth/le/devices/{deviceId}/services/{serviceId}/characteristics:
    get:
      operationId: listGattCharacteristics
      summary: Microsoft Windows 10 List GATT characteristics
      description: Retrieves the characteristics of a GATT service using GattDeviceService.GetCharacteristicsAsync. Characteristics contain the actual data values and support read, write, notify, and indicate operations.
      tags:
      - GATT Characteristics
      parameters:
      - name: deviceId
        in: path
        required: true
        description: BLE device identifier
        schema:
          type: string
      - name: serviceId
        in: path
        required: true
        description: GATT service UUID
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of characteristics
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GattCharacteristic'
        '404':
          description: Service not found
components:
  schemas:
    GattCharacteristic:
      type: object
      description: A GATT characteristic
      properties:
        uuid:
          type: string
          description: Characteristic UUID
        name:
          type: string
          description: Standard characteristic name (if known)
        properties:
          type: array
          items:
            type: string
            enum:
            - Read
            - Write
            - WriteWithoutResponse
            - Notify
            - Indicate
            - Broadcast
            - SignedWrite
            - ExtendedProperties
          description: Supported operations
        protectionLevel:
          type: string
          enum:
          - Plain
          - AuthenticationRequired
          - EncryptionRequired
          - EncryptionAndAuthenticationRequired
externalDocs:
  description: Windows Bluetooth API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/_bluetooth/
