openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Hello Authentication…
  description: Biometric and PIN-based authentication API that replaces passwords with strong two-factor authentication. Based on the Windows.Security.Credentials namespace, Windows Hello supports facial recognition, fingerprint scanning, and PIN-based user verification for secure sign-in. Key classes include KeyCredentialManager, KeyCredentialRetrievalResult, and UserConsentVerifier. Implements the FIDO2/WebAuthn standards for passwordless authentication.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/develop/security/windows-hello
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Attestation
paths:
  /hello/attestation:
    get:
      operationId: getKeyAttestation
      summary: Microsoft Windows 10 Get key attestation
      description: Retrieves attestation information for a Windows Hello key credential using KeyCredential.GetAttestationAsync. Returns a KeyCredentialAttestationResult with an attestation buffer and certificate chain that can be sent to a server to verify the key was generated in a secure environment (TPM).
      tags:
      - Attestation
      parameters:
      - name: accountId
        in: query
        required: true
        description: Account identifier for the credential
        schema:
          type: string
      responses:
        '200':
          description: Attestation retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttestationResult'
        '404':
          description: Credential not found
components:
  schemas:
    AttestationResult:
      type: object
      properties:
        status:
          type: string
          enum:
          - Success
          - TemporaryFailure
          - NotSupported
          description: Attestation result status
        attestationBuffer:
          type: string
          format: byte
          description: Base64-encoded attestation data
        certificateChainBuffer:
          type: string
          format: byte
          description: Base64-encoded certificate chain
externalDocs:
  description: Windows Hello Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/develop/security/windows-hello
