openapi: 3.2.0
info:
  title: Microsoft Windows 10 DirectX Graphics Pipeline API
  description: Low-level graphics API for building high-performance 2D and 3D rendering in Windows applications. Includes Direct3D 12 for 3D graphics with explicit GPU control, Direct2D for hardware-accelerated 2D graphics, and DirectWrite for high-quality text rendering. This specification models the key DirectX resource management and rendering pipeline operations.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/directx
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Pipeline
paths:
  /directx/pipeline-states:
    post:
      operationId: createPipelineState
      summary: Microsoft Windows 10 Create a graphics pipeline state
      description: Creates a graphics pipeline state object (ID3D12PipelineState) that defines the complete rendering pipeline configuration including vertex shader, pixel shader, input layout, rasterizer state, blend state, depth stencil state, and render target formats.
      tags:
      - Pipeline
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePipelineStateRequest'
      responses:
        '201':
          description: Pipeline state created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PipelineState'
        '400':
          description: Invalid pipeline configuration
components:
  schemas:
    CreatePipelineStateRequest:
      type: object
      properties:
        vertexShader:
          type: string
          description: Compiled vertex shader bytecode reference
        pixelShader:
          type: string
          description: Compiled pixel shader bytecode reference
        inputLayout:
          type: array
          items:
            type: object
            properties:
              semanticName:
                type: string
              format:
                type: string
              inputSlot:
                type: integer
        primitiveTopology:
          type: string
          enum:
          - PointList
          - LineList
          - LineStrip
          - TriangleList
          - TriangleStrip
          default: TriangleList
        renderTargetCount:
          type: integer
          default: 1
        renderTargetFormats:
          type: array
          items:
            type: string
        depthStencilFormat:
          type: string
      required:
      - vertexShader
      - pixelShader
    PipelineState:
      type: object
      properties:
        id:
          type: string
        isValid:
          type: boolean
externalDocs:
  description: DirectX Graphics Reference
  url: https://learn.microsoft.com/en-us/windows/win32/directx
