openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Runtime (WinRT) Namespaces API
  description: Modern API surface for building Universal Windows Platform (UWP) applications that run across all Windows 10 device families. WinRT provides a type system, APIs, and runtime environment for building apps using C#, C++, Visual Basic, and JavaScript. This specification models the key WinRT namespaces and their primary classes as a RESTful interface for documentation purposes.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://developer.microsoft.com/en-us/windows/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Namespaces
paths:
  /winrt/namespaces:
    get:
      operationId: listWinRTNamespaces
      summary: Microsoft Windows 10 List WinRT namespaces
      description: Retrieves the list of available Windows Runtime namespaces, including Windows.UI, Windows.Storage, Windows.Devices, Windows.Media, Windows.Networking, Windows.Security, and Windows.AI. Each namespace contains classes, interfaces, enums, and delegates.
      tags:
      - Namespaces
      responses:
        '200':
          description: Successful retrieval of WinRT namespaces
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/WinRTNamespace'
        '401':
          description: Unauthorized
components:
  schemas:
    WinRTNamespace:
      type: object
      description: A Windows Runtime namespace containing types and APIs
      properties:
        name:
          type: string
          description: Fully qualified namespace name
          example: Windows.UI.Notifications
        description:
          type: string
          description: Description of the namespace purpose
        classCount:
          type: integer
          description: Number of classes in the namespace
        interfaceCount:
          type: integer
          description: Number of interfaces in the namespace
        enumCount:
          type: integer
          description: Number of enumerations in the namespace
        delegateCount:
          type: integer
          description: Number of delegates in the namespace
        minSupportedVersion:
          type: string
          description: Minimum supported Windows version
          example: 10.0.10240.0
      required:
      - name
externalDocs:
  description: Windows Runtime API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/
