openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Human Presence API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Human Presence
paths:
  /sensors/human-presence/reading:
    get:
      operationId: getHumanPresenceReading
      summary: Microsoft Windows 10 Get human presence sensor reading
      description: Retrieves the current human presence sensor reading using HumanPresenceSensor.GetCurrentReading. Detects whether a user is present, absent, or engaged, with optional head position and orientation data.
      tags:
      - Human Presence
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HumanPresenceReading'
        '404':
          description: Human presence sensor not available
components:
  schemas:
    HumanPresenceReading:
      type: object
      description: Human presence sensor reading
      properties:
        presence:
          type: string
          enum:
          - Unknown
          - Present
          - NotPresent
        engagement:
          type: string
          enum:
          - Unknown
          - Engaged
          - Unengaged
        distanceInMillimeters:
          type: integer
          description: Estimated distance to user
        headPosition:
          type: object
          properties:
            azimuthInDegrees:
              type: number
              format: float
            altitudeInDegrees:
              type: number
              format: float
        headOrientation:
          type: object
          properties:
            pitchInDegrees:
              type: number
              format: float
            rollInDegrees:
              type: number
              format: float
            yawInDegrees:
              type: number
              format: float
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
