openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Storage App Data API
  description: API for file system access, storage management, and data operations in Windows applications. Based on the Windows.Storage namespace, this API provides classes for reading, writing, and managing files (StorageFile) and folders (StorageFolder) with appropriate access permissions. Also includes ApplicationData for settings and app data management, KnownFolders for library access, and StorageLibrary for library management with change tracking.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/files/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: App Data
paths:
  /storage/app-data/settings:
    get:
      operationId: getAppSettings
      summary: Microsoft Windows 10 Get application settings
      description: Retrieves application settings from the ApplicationData.LocalSettings or RoamingSettings containers. Settings are stored as key-value pairs in ApplicationDataContainer objects.
      tags:
      - App Data
      parameters:
      - name: locality
        in: query
        required: false
        description: Settings locality
        schema:
          type: string
          enum:
          - Local
          - Roaming
          default: Local
      - name: containerName
        in: query
        required: false
        description: Settings container name
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of settings
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
    put:
      operationId: updateAppSettings
      summary: Microsoft Windows 10 Update application settings
      description: Updates application settings in the specified ApplicationDataContainer. Supports simple values and composite values (ApplicationDataCompositeValue) for atomic serialization.
      tags:
      - App Data
      parameters:
      - name: locality
        in: query
        required: false
        description: Settings locality
        schema:
          type: string
          enum:
          - Local
          - Roaming
          default: Local
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                type: string
      responses:
        '200':
          description: Settings updated successfully
externalDocs:
  description: Windows.Storage API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.storage
