openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Composition Visuals API
  description: The Windows.UI.Composition API provides access to the visual layer between the XAML framework and the DirectX graphics layer. Based on the Windows.UI.Composition namespace, it enables high-performance retained-mode graphics, effects, and animations. Key classes include Compositor, Visual, SpriteVisual, ContainerVisual, CompositionAnimation, CompositionEffectBrush, and CompositionSurfaceBrush.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/composition/visual-layer
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Visuals
paths:
  /composition/visuals:
    get:
      operationId: listVisuals
      summary: Microsoft Windows 10 List composition visuals
      description: Retrieves the list of visual objects in the composition tree. Visuals are the base building blocks of the visual layer, representing rectangular areas that can have size, position, opacity, clip, and transform properties. Types include SpriteVisual, ContainerVisual, LayerVisual, ShapeVisual, and RedirectVisual.
      tags:
      - Visuals
      responses:
        '200':
          description: Successful retrieval of visuals
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CompositionVisual'
    post:
      operationId: createVisual
      summary: Microsoft Windows 10 Create a composition visual
      description: Creates a new visual object using the Compositor factory methods such as Compositor.CreateSpriteVisual, CreateContainerVisual, or CreateLayerVisual. The visual must be added to a visual tree to be rendered.
      tags:
      - Visuals
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateVisualRequest'
      responses:
        '201':
          description: Visual created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CompositionVisual'
        '400':
          description: Invalid visual configuration
components:
  schemas:
    Vector3:
      type: object
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
        z:
          type: number
          format: float
    CreateVisualRequest:
      type: object
      properties:
        type:
          type: string
          enum:
          - SpriteVisual
          - ContainerVisual
          - LayerVisual
          - ShapeVisual
          description: Type of visual to create
        offset:
          $ref: '#/components/schemas/Vector3'
        size:
          $ref: '#/components/schemas/Vector2'
        opacity:
          type: number
          format: float
          default: 1.0
      required:
      - type
    Vector2:
      type: object
      properties:
        x:
          type: number
          format: float
        y:
          type: number
          format: float
    CompositionVisual:
      type: object
      description: A composition visual object
      properties:
        id:
          type: string
          description: Visual identifier
        type:
          type: string
          enum:
          - SpriteVisual
          - ContainerVisual
          - LayerVisual
          - ShapeVisual
          - RedirectVisual
          description: Visual type
        offset:
          $ref: '#/components/schemas/Vector3'
        size:
          $ref: '#/components/schemas/Vector2'
        opacity:
          type: number
          format: float
          description: Opacity (0.0 to 1.0)
        rotationAngleInDegrees:
          type: number
          format: float
        scale:
          $ref: '#/components/schemas/Vector3'
        isVisible:
          type: boolean
        comment:
          type: string
          description: Developer comment for debugging
      required:
      - id
      - type
externalDocs:
  description: Windows.UI.Composition API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.ui.composition
