openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Networking Web Sockets API
  description: API for network communication in Windows applications, based on the Windows.Networking.Sockets and Windows.Web.Http namespaces. Provides support for TCP/UDP sockets (StreamSocket, DatagramSocket), WebSockets (MessageWebSocket, StreamWebSocket), HTTP clients (HttpClient), and background transfers (BackgroundDownloader, BackgroundUploader).
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/networking/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: WebSockets
paths:
  /networking/websockets:
    post:
      operationId: createWebSocket
      summary: Microsoft Windows 10 Create a WebSocket connection
      description: Creates a MessageWebSocket or StreamWebSocket for real-time bidirectional communication. MessageWebSocket handles discrete messages while StreamWebSocket provides continuous stream-based communication.
      tags:
      - WebSockets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebSocketRequest'
      responses:
        '201':
          description: WebSocket connection established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebSocket'
        '400':
          description: Invalid WebSocket configuration
components:
  schemas:
    WebSocket:
      type: object
      description: A WebSocket connection
      properties:
        id:
          type: string
        uri:
          type: string
          format: uri
        type:
          type: string
        state:
          type: string
          enum:
          - Connecting
          - Connected
          - Closing
          - Closed
    CreateWebSocketRequest:
      type: object
      properties:
        uri:
          type: string
          format: uri
          description: WebSocket server URI (ws:// or wss://)
        type:
          type: string
          enum:
          - Message
          - Stream
          description: MessageWebSocket or StreamWebSocket
          default: Message
        messageType:
          type: string
          enum:
          - Binary
          - Utf8
          description: Message type (for MessageWebSocket)
          default: Utf8
        protocols:
          type: array
          items:
            type: string
          description: Sub-protocols to request
      required:
      - uri
externalDocs:
  description: Windows Networking API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.networking.sockets
