openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer Drawing Attributes API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Drawing Attributes
paths:
  /ink/drawing-attributes:
    get:
      operationId: getDefaultDrawingAttributes
      summary: Microsoft Windows 10 Get default drawing attributes
      description: Retrieves the default InkDrawingAttributes used for new strokes, including color, size, pen tip shape, transparency, and fit-to-curve settings.
      tags:
      - Drawing Attributes
      responses:
        '200':
          description: Successful retrieval of drawing attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InkDrawingAttributes'
    put:
      operationId: updateDefaultDrawingAttributes
      summary: Microsoft Windows 10 Update default drawing attributes
      description: Updates the default InkDrawingAttributes for new strokes. Changes affect all subsequently created strokes.
      tags:
      - Drawing Attributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InkDrawingAttributes'
      responses:
        '200':
          description: Drawing attributes updated
components:
  schemas:
    InkDrawingAttributes:
      type: object
      description: Visual attributes for ink rendering (InkDrawingAttributes class)
      properties:
        color:
          type: string
          description: Stroke color in ARGB hex format
          example: '#FF000000'
        size:
          type: object
          properties:
            width:
              type: number
              format: float
            height:
              type: number
              format: float
          description: Pen tip size
        penTip:
          type: string
          enum:
          - Circle
          - Rectangle
          description: Pen tip shape
        drawAsHighlighter:
          type: boolean
          description: Whether to render as a highlighter
        fitToCurve:
          type: boolean
          description: Whether to use Bezier curve fitting
        ignorePressure:
          type: boolean
          description: Whether to ignore pressure data
        ignoreTilt:
          type: boolean
          description: Whether to ignore tilt data
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
