openapi: 3.2.0
info:
  title: Microsoft Windows 10 Access API
  version: 1.0.0
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
  description: 'Operations tagged Access across 2 of this provider''s published API definitions: microsoft-windows-10-background-tasks-openapi.yml, microsoft-windows-10-geolocation-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Access
paths:
  /background-tasks/access:
    get:
      operationId: getBackgroundAccessStatus
      summary: Microsoft Windows 10 Get background access status
      description: Checks the application's background access status using BackgroundExecutionManager.GetAccessStatus. Returns whether the app is allowed to run background tasks, which may be limited by user settings or battery saver mode.
      tags:
      - Access
      responses:
        '200':
          description: Access status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundAccessStatus'
    post:
      operationId: requestBackgroundAccess
      summary: Microsoft Windows 10 Request background access
      description: Requests permission for background task execution using BackgroundExecutionManager.RequestAccessAsync. May prompt the user to allow background activity.
      tags:
      - Access
      responses:
        '200':
          description: Access request result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackgroundAccessStatus'
    servers:
    - url: https://api.windows.com
      description: Windows Platform API
  /geolocation/access:
    get:
      operationId: getGeolocationAccess
      summary: Microsoft Windows 10 Check geolocation access status
      description: Checks the application's permission to access location data using Geolocator.RequestAccessAsync. Returns the current GeolocationAccessStatus indicating whether access is allowed, denied, or unspecified.
      tags:
      - Access
      responses:
        '200':
          description: Access status retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationAccessStatus'
    post:
      operationId: requestGeolocationAccess
      summary: Microsoft Windows 10 Request geolocation access
      description: Requests permission to access the device's location using Geolocator.RequestAccessAsync. Prompts the user to grant or deny location access if not previously configured.
      tags:
      - Access
      responses:
        '200':
          description: Access request processed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeolocationAccessStatus'
    servers:
    - url: https://api.windows.com
      description: Windows Platform API
components:
  schemas:
    BackgroundAccessStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - Unspecified
          - AllowedSubjectToSystemPolicy
          - AlwaysAllowed
          - DeniedBySystemPolicy
          - DeniedByUser
          description: Current background access status
    GeolocationAccessStatus:
      type: object
      properties:
        status:
          type: string
          enum:
          - Unspecified
          - Allowed
          - Denied
          description: Current geolocation access status
x-refined-from:
- microsoft-windows-10-background-tasks-openapi.yml
- microsoft-windows-10-geolocation-openapi.yml
