openapi: 3.2.0
info:
  title: Microsoft Windows 10 Win32 Structures API
  description: Core Windows API for building traditional desktop applications using C and C++. Win32 provides direct access to system-level functionality including window management, graphics, networking, and hardware. This specification models the major Win32 API categories including User Interface, System Services, Graphics, Networking, Security, and Devices.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Structures
paths:
  /win32/structures/{structureName}:
    get:
      operationId: getWin32Structure
      summary: Microsoft Windows 10 Get Win32 structure definition
      description: Retrieves the definition of a Win32 data structure, including its fields, sizes, alignment requirements, and associated API functions.
      tags:
      - Structures
      parameters:
      - name: structureName
        in: path
        required: true
        description: The structure name (e.g., WNDCLASSEXW, MSG, RECT)
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of structure definition
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Win32Structure'
        '404':
          description: Structure not found
components:
  schemas:
    Win32Structure:
      type: object
      description: A Win32 data structure
      properties:
        name:
          type: string
          description: Structure name
        fields:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              type:
                type: string
              description:
                type: string
        sizeInBytes:
          type: integer
          description: Size of the structure in bytes
        header:
          type: string
          description: Header file defining the structure
      required:
      - name
      - fields
externalDocs:
  description: Win32 API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/
