openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Accelerometer API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Accelerometer
paths:
  /sensors/accelerometer/reading:
    get:
      operationId: getAccelerometerReading
      summary: Microsoft Windows 10 Get accelerometer reading
      description: Retrieves the current accelerometer reading using Accelerometer.GetCurrentReading. Returns G-force values along the x, y, and z axes. The sensor coordinate system is fixed to the device.
      tags:
      - Accelerometer
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccelerometerReading'
        '404':
          description: Accelerometer not available
components:
  schemas:
    AccelerometerReading:
      type: object
      description: Accelerometer reading data
      properties:
        accelerationX:
          type: number
          format: double
          description: G-force along X axis
        accelerationY:
          type: number
          format: double
          description: G-force along Y axis
        accelerationZ:
          type: number
          format: double
          description: G-force along Z axis
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
