openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Bluetooth RFCOMM API
  description: API for Bluetooth communication in Windows applications, based on the Windows.Devices.Bluetooth namespace. Supports Bluetooth Classic (RFCOMM) for stream-based communication and Bluetooth Low Energy (GATT) for attribute-based communication with BLE peripherals. Key classes include BluetoothDevice, BluetoothLEDevice, RfcommDeviceService, GattDeviceService, GattCharacteristic, and BluetoothLEAdvertisementWatcher.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/devices-sensors/bluetooth
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: RFCOMM
paths:
  /bluetooth/rfcomm/connections:
    post:
      operationId: createRfcommConnection
      summary: Microsoft Windows 10 Create an RFCOMM connection
      description: Establishes a Bluetooth Classic RFCOMM connection to a device using RfcommDeviceService. RFCOMM provides a stream-based connection similar to TCP sockets for serial port emulation.
      tags:
      - RFCOMM
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RfcommConnectionRequest'
      responses:
        '201':
          description: RFCOMM connection established
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RfcommConnection'
        '400':
          description: Connection failed
components:
  schemas:
    RfcommConnectionRequest:
      type: object
      properties:
        deviceId:
          type: string
          description: Bluetooth device ID
        serviceId:
          type: string
          description: RFCOMM service UUID (e.g., SerialPort)
      required:
      - deviceId
      - serviceId
    RfcommConnection:
      type: object
      properties:
        id:
          type: string
        deviceId:
          type: string
        serviceId:
          type: string
        maxMessageSize:
          type: integer
externalDocs:
  description: Windows Bluetooth API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/_bluetooth/
