openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Storage Files API
  description: API for file system access, storage management, and data operations in Windows applications. Based on the Windows.Storage namespace, this API provides classes for reading, writing, and managing files (StorageFile) and folders (StorageFolder) with appropriate access permissions. Also includes ApplicationData for settings and app data management, KnownFolders for library access, and StorageLibrary for library management with change tracking.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/files/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Files
paths:
  /storage/files:
    get:
      operationId: listStorageFiles
      summary: Microsoft Windows 10 List storage files
      description: Retrieves files from a specified storage location. Uses StorageFolder.GetFilesAsync to enumerate files with optional query options for filtering by type, date, size, and other properties.
      tags:
      - Files
      parameters:
      - name: folderId
        in: query
        required: false
        description: Known folder identifier (Documents, Pictures, Music, Videos)
        schema:
          type: string
          enum:
          - Documents
          - Pictures
          - Music
          - Videos
          - Downloads
          - LocalAppData
          - RoamingAppData
          - TempState
      - name: fileType
        in: query
        required: false
        description: Filter by file extension (e.g., .jpg, .mp3)
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of files
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StorageFile'
        '403':
          description: Access denied to the specified location
  /storage/files/{fileId}:
    get:
      operationId: getStorageFile
      summary: Microsoft Windows 10 Get file details
      description: Retrieves detailed information about a specific file using StorageFile properties including name, path, size, date created, date modified, content type, file attributes, and storage provider information.
      tags:
      - Files
      parameters:
      - name: fileId
        in: path
        required: true
        description: Unique file identifier or path
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of file details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StorageFileDetail'
        '404':
          description: File not found
    delete:
      operationId: deleteStorageFile
      summary: Microsoft Windows 10 Delete a file
      description: Deletes a file using StorageFile.DeleteAsync. Supports permanent deletion or moving to the Recycle Bin as specified by the StorageDeleteOption.
      tags:
      - Files
      parameters:
      - name: fileId
        in: path
        required: true
        description: Unique file identifier
        schema:
          type: string
      - name: option
        in: query
        required: false
        description: Delete option
        schema:
          type: string
          enum:
          - Default
          - PermanentDelete
      responses:
        '204':
          description: File deleted successfully
        '404':
          description: File not found
        '403':
          description: Access denied
components:
  schemas:
    StorageFile:
      type: object
      description: A storage file (StorageFile class)
      properties:
        name:
          type: string
          description: File name with extension
        path:
          type: string
          description: Full file path
        displayName:
          type: string
          description: File name without extension
        fileType:
          type: string
          description: File extension
        contentType:
          type: string
          description: MIME content type
        dateCreated:
          type: string
          format: date-time
        isAvailable:
          type: boolean
          description: Whether the file content is available locally
      required:
      - name
      - path
    StorageFileDetail:
      type: object
      description: Detailed file information
      properties:
        name:
          type: string
        path:
          type: string
        displayName:
          type: string
        fileType:
          type: string
        contentType:
          type: string
        dateCreated:
          type: string
          format: date-time
        dateModified:
          type: string
          format: date-time
        size:
          type: integer
          format: int64
          description: File size in bytes
        attributes:
          type: array
          items:
            type: string
            enum:
            - Normal
            - ReadOnly
            - Directory
            - Archive
            - Temporary
            - LocallyIncomplete
          description: FileAttributes flags
        provider:
          type: object
          properties:
            id:
              type: string
            displayName:
              type: string
          description: StorageProvider information
externalDocs:
  description: Windows.Storage API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.storage
