openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Ink Drawing Attributes API
  description: API for pen and stylus input in Windows applications, based on the Windows.UI.Input.Inking namespace. Provides inking surfaces (InkCanvas, InkPresenter), stroke management (InkStroke, InkStrokeBuilder), ink recognition (InkRecognizer, InkAnalyzer), and handwriting analysis. Supports pressure sensitivity, tilt, and barrel button interactions.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/design/input/pen-and-stylus-interactions
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Drawing Attributes
paths:
  /ink/drawing-attributes:
    get:
      operationId: getDefaultDrawingAttributes
      summary: Microsoft Windows 10 Get default drawing attributes
      description: Retrieves the default InkDrawingAttributes used for new strokes, including color, size, pen tip shape, transparency, and fit-to-curve settings.
      tags:
      - Drawing Attributes
      responses:
        '200':
          description: Successful retrieval of drawing attributes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InkDrawingAttributes'
    put:
      operationId: updateDefaultDrawingAttributes
      summary: Microsoft Windows 10 Update default drawing attributes
      description: Updates the default InkDrawingAttributes for new strokes. Changes affect all subsequently created strokes.
      tags:
      - Drawing Attributes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InkDrawingAttributes'
      responses:
        '200':
          description: Drawing attributes updated
components:
  schemas:
    InkDrawingAttributes:
      type: object
      description: Visual attributes for ink rendering (InkDrawingAttributes class)
      properties:
        color:
          type: string
          description: Stroke color in ARGB hex format
          example: '#FF000000'
        size:
          type: object
          properties:
            width:
              type: number
              format: float
            height:
              type: number
              format: float
          description: Pen tip size
        penTip:
          type: string
          enum:
          - Circle
          - Rectangle
          description: Pen tip shape
        drawAsHighlighter:
          type: boolean
          description: Whether to render as a highlighter
        fitToCurve:
          type: boolean
          description: Whether to use Bezier curve fitting
        ignorePressure:
          type: boolean
          description: Whether to ignore pressure data
        ignoreTilt:
          type: boolean
          description: Whether to ignore tilt data
externalDocs:
  description: Windows.UI.Input.Inking API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.ui.input.inking
