openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Bluetooth GATT Services API
  description: API for Bluetooth communication in Windows applications, based on the Windows.Devices.Bluetooth namespace. Supports Bluetooth Classic (RFCOMM) for stream-based communication and Bluetooth Low Energy (GATT) for attribute-based communication with BLE peripherals. Key classes include BluetoothDevice, BluetoothLEDevice, RfcommDeviceService, GattDeviceService, GattCharacteristic, and BluetoothLEAdvertisementWatcher.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/devices-sensors/bluetooth
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: GATT Services
paths:
  /bluetooth/le/devices/{deviceId}/services:
    get:
      operationId: listGattServices
      summary: Microsoft Windows 10 List GATT services
      description: Retrieves the list of GATT services on a BLE device using BluetoothLEDevice.GetGattServicesAsync. Each service contains characteristics and descriptors that define the device's capabilities.
      tags:
      - GATT Services
      parameters:
      - name: deviceId
        in: path
        required: true
        description: BLE device identifier
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of GATT services
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/GattService'
        '404':
          description: Device not found
components:
  schemas:
    GattService:
      type: object
      description: A GATT service on a BLE device
      properties:
        uuid:
          type: string
          description: Service UUID
        name:
          type: string
          description: Standard service name (if known)
        characteristicCount:
          type: integer
externalDocs:
  description: Windows Bluetooth API Reference
  url: https://learn.microsoft.com/en-us/windows/win32/api/_bluetooth/
