openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Sensors
paths:
  /sensors:
    get:
      operationId: listAvailableSensors
      summary: Microsoft Windows 10 List available sensors
      description: Retrieves the list of available sensors on the device. Each sensor type uses a GetDefault() static method to check availability. Supported types include Accelerometer, Gyrometer, Compass, Inclinometer, LightSensor, Barometer, Altimeter, Magnetometer, OrientationSensor, Pedometer, ProximitySensor, ActivitySensor, HumanPresenceSensor, and HingeAngleSensor.
      tags:
      - Sensors
      responses:
        '200':
          description: Successful retrieval of available sensors
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SensorInfo'
components:
  schemas:
    SensorInfo:
      type: object
      description: Information about an available sensor
      properties:
        type:
          type: string
          enum:
          - Accelerometer
          - Gyrometer
          - Compass
          - Inclinometer
          - LightSensor
          - Barometer
          - Altimeter
          - Magnetometer
          - OrientationSensor
          - SimpleOrientationSensor
          - Pedometer
          - ProximitySensor
          - ActivitySensor
          - HumanPresenceSensor
          - HingeAngleSensor
        deviceId:
          type: string
          description: Sensor device identifier
        minimumReportInterval:
          type: integer
          description: Minimum report interval in milliseconds
        reportInterval:
          type: integer
          description: Current report interval in milliseconds
      required:
      - type
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
