openapi: 3.2.0
info:
  title: Microsoft Windows 10 DirectX Graphics Command Queues API
  description: Low-level graphics API for building high-performance 2D and 3D rendering in Windows applications. Includes Direct3D 12 for 3D graphics with explicit GPU control, Direct2D for hardware-accelerated 2D graphics, and DirectWrite for high-quality text rendering. This specification models the key DirectX resource management and rendering pipeline operations.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/directx
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Command Queues
paths:
  /directx/command-queues:
    post:
      operationId: createCommandQueue
      summary: Microsoft Windows 10 Create a command queue
      description: Creates a Direct3D 12 command queue (ID3D12CommandQueue) for submitting command lists to the GPU. Command queues can be of type Direct, Compute, or Copy, determining which GPU operations they support.
      tags:
      - Command Queues
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCommandQueueRequest'
      responses:
        '201':
          description: Command queue created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommandQueue'
        '400':
          description: Invalid queue configuration
components:
  schemas:
    CommandQueue:
      type: object
      properties:
        id:
          type: string
        type:
          type: string
        priority:
          type: string
    CreateCommandQueueRequest:
      type: object
      properties:
        type:
          type: string
          enum:
          - Direct
          - Compute
          - Copy
          description: Command queue type
        priority:
          type: string
          enum:
          - Normal
          - High
          - GlobalRealtime
          default: Normal
      required:
      - type
externalDocs:
  description: DirectX Graphics Reference
  url: https://learn.microsoft.com/en-us/windows/win32/directx
