openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Media Capture Preview API
  description: API for capturing photos, audio, and video from camera and microphone devices in Windows applications. Based on the Windows.Media.Capture namespace, it provides classes for previewing (CaptureElement), recording (MediaCapture), and processing media streams with configurable encoding settings (MediaEncodingProfile). Supports photo capture, video recording, audio recording, and advanced scenarios like HDR and variable photo sequences.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/develop/audio-video-camera
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Preview
paths:
  /media/capture/sessions/{sessionId}/preview/start:
    post:
      operationId: startPreview
      summary: Microsoft Windows 10 Start camera preview
      description: Starts the camera preview stream using MediaCapture.StartPreviewAsync. The preview stream is displayed in a CaptureElement XAML control.
      tags:
      - Preview
      parameters:
      - name: sessionId
        in: path
        required: true
        description: Capture session identifier
        schema:
          type: string
      responses:
        '200':
          description: Preview started
        '404':
          description: Session not found
  /media/capture/sessions/{sessionId}/preview/stop:
    post:
      operationId: stopPreview
      summary: Microsoft Windows 10 Stop camera preview
      description: Stops the camera preview stream using MediaCapture.StopPreviewAsync.
      tags:
      - Preview
      parameters:
      - name: sessionId
        in: path
        required: true
        description: Capture session identifier
        schema:
          type: string
      responses:
        '200':
          description: Preview stopped
        '404':
          description: Session not found
externalDocs:
  description: Windows.Media.Capture API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.media.capture
