openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Networking Connectivity API
  description: API for network communication in Windows applications, based on the Windows.Networking.Sockets and Windows.Web.Http namespaces. Provides support for TCP/UDP sockets (StreamSocket, DatagramSocket), WebSockets (MessageWebSocket, StreamWebSocket), HTTP clients (HttpClient), and background transfers (BackgroundDownloader, BackgroundUploader).
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/uwp/networking/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Connectivity
paths:
  /networking/connectivity:
    get:
      operationId: getNetworkConnectivity
      summary: Microsoft Windows 10 Get network connectivity information
      description: Retrieves current network connectivity information using NetworkInformation.GetInternetConnectionProfile and NetworkInformation.GetConnectionProfiles. Returns details about connection type, signal strength, data plan status, and cost.
      tags:
      - Connectivity
      responses:
        '200':
          description: Successful retrieval of connectivity info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NetworkConnectivity'
components:
  schemas:
    NetworkConnectivity:
      type: object
      properties:
        isConnected:
          type: boolean
        connectionType:
          type: string
          enum:
          - Ethernet
          - WiFi
          - Cellular
          - None
        signalStrength:
          type: integer
          description: Signal strength in bars (0-5)
        networkCostType:
          type: string
          enum:
          - Unknown
          - Unrestricted
          - Fixed
          - Variable
        dataPlanStatus:
          type: object
          properties:
            dataLimitInMegabytes:
              type: integer
            megabytesUsed:
              type: number
            maxTransferSizeInMegabytes:
              type: integer
externalDocs:
  description: Windows Networking API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.networking.sockets
