openapi: 3.2.0
info:
  title: Microsoft Windows 10 WinUI Icons API
  description: Modern native UI framework for building Windows desktop applications with the Fluent Design System. Based on the Microsoft.UI.Xaml namespace, WinUI provides XAML-based controls, high-performance rendering, and supports both C# and C++ development. Key areas include controls (NavigationView, TreeView, InfoBar, ProgressRing), layout (Grid, StackPanel, RelativePanel), styling (themes, brushes, animations), and input handling.
  version: 2.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/winui/winui2/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Icons
paths:
  /winui/icons:
    get:
      operationId: listIcons
      summary: Microsoft Windows 10 List Fluent Design icons
      description: Retrieves the catalog of available Segoe Fluent Icons for use with SymbolIcon and FontIcon controls. Includes icon name, unicode code point, and preview information.
      tags:
      - Icons
      parameters:
      - name: search
        in: query
        required: false
        description: Search icons by name
        schema:
          type: string
      responses:
        '200':
          description: Successful retrieval of icons
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FluentIcon'
components:
  schemas:
    FluentIcon:
      type: object
      properties:
        name:
          type: string
          description: Icon name
        symbol:
          type: string
          description: Symbol enum value (for SymbolIcon)
        unicodePoint:
          type: string
          description: Unicode code point for FontIcon
          example: E700
        description:
          type: string
externalDocs:
  description: WinUI API Reference
  url: https://learn.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls
