openapi: 3.2.0
info:
  title: Microsoft Windows 10 WinUI Themes API
  description: Modern native UI framework for building Windows desktop applications with the Fluent Design System. Based on the Microsoft.UI.Xaml namespace, WinUI provides XAML-based controls, high-performance rendering, and supports both C# and C++ development. Key areas include controls (NavigationView, TreeView, InfoBar, ProgressRing), layout (Grid, StackPanel, RelativePanel), styling (themes, brushes, animations), and input handling.
  version: 2.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/winui/winui2/
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Themes
paths:
  /winui/themes:
    get:
      operationId: listThemes
      summary: Microsoft Windows 10 List available themes
      description: Retrieves the list of available application themes. WinUI supports Light, Dark, and HighContrast themes with automatic system theme detection via Application.RequestedTheme.
      tags:
      - Themes
      responses:
        '200':
          description: Successful retrieval of themes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Theme'
components:
  schemas:
    Theme:
      type: object
      properties:
        name:
          type: string
          enum:
          - Light
          - Dark
          - HighContrast
        description:
          type: string
        systemColors:
          type: object
          additionalProperties:
            type: string
          description: Key system colors for this theme
externalDocs:
  description: WinUI API Reference
  url: https://learn.microsoft.com/en-us/windows/winui/api/microsoft.ui.xaml.controls
