openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Proximity API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Proximity
paths:
  /sensors/proximity/reading:
    get:
      operationId: getProximityReading
      summary: Microsoft Windows 10 Get proximity sensor reading
      description: Retrieves the current proximity sensor reading using ProximitySensor.GetCurrentReading. Returns whether an object is detected and optionally the distance in millimeters.
      tags:
      - Proximity
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProximityReading'
        '404':
          description: Proximity sensor not available
components:
  schemas:
    ProximityReading:
      type: object
      description: Proximity sensor reading data
      properties:
        isDetected:
          type: boolean
          description: Whether an object is detected
        distanceInMillimeters:
          type: integer
          description: Distance to detected object (nullable)
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
