openapi: 3.1.0
info:
  title: Microsoft Windows 10 Windows Background Tasks Accelerometer Human Presence API
  description: API for running code in the background when an application is suspended or not running. Based on the Windows.ApplicationModel.Background namespace, it supports time-triggered, system-triggered, and maintenance-triggered background tasks. Key classes include BackgroundTaskBuilder, BackgroundTaskRegistration, SystemTrigger, TimeTrigger, and BackgroundTaskCompletedEventArgs.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Human Presence
paths:
  /sensors/human-presence/reading:
    get:
      operationId: getHumanPresenceReading
      summary: Microsoft Windows 10 Get human presence sensor reading
      description: Retrieves the current human presence sensor reading using HumanPresenceSensor.GetCurrentReading. Detects whether a user is present, absent, or engaged, with optional head position and orientation data.
      tags:
      - Human Presence
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HumanPresenceReading'
        '404':
          description: Human presence sensor not available
components:
  schemas:
    HumanPresenceReading:
      type: object
      description: Human presence sensor reading
      properties:
        presence:
          type: string
          enum:
          - Unknown
          - Present
          - NotPresent
        engagement:
          type: string
          enum:
          - Unknown
          - Engaged
          - Unengaged
        distanceInMillimeters:
          type: integer
          description: Estimated distance to user
        headPosition:
          type: object
          properties:
            azimuthInDegrees:
              type: number
              format: float
            altitudeInDegrees:
              type: number
              format: float
        headOrientation:
          type: object
          properties:
            pitchInDegrees:
              type: number
              format: float
            rollInDegrees:
              type: number
              format: float
            yawInDegrees:
              type: number
              format: float
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Background Tasks Documentation
  url: https://learn.microsoft.com/en-us/windows/apps/windows-app-sdk/applifecycle/background-tasks
