openapi: 3.2.0
info:
  title: Microsoft Windows 10 Windows Sensors Barometer API
  description: API for accessing device sensor data, based on the Windows.Devices.Sensors namespace. Provides a unified interface for reading sensor values and responding to sensor events for accelerometer, gyrometer, compass, inclinometer, light sensor, barometer, altimeter, magnetometer, orientation sensor, pedometer, proximity sensor, activity sensor, and human presence sensor. Sensors must be PC-integrated to be accessible.
  version: 1.0.0
  contact:
    name: Microsoft Developer Support
    url: https://learn.microsoft.com/en-us/windows/win32/sensorsapi/introduction-to-the-sensor-and-location-platform-in-windows
  license:
    name: Microsoft Software License
    url: https://www.microsoft.com/en-us/legal/terms-of-use
servers:
- url: https://api.windows.com
  description: Windows Platform API
tags:
- name: Barometer
paths:
  /sensors/barometer/reading:
    get:
      operationId: getBarometerReading
      summary: Microsoft Windows 10 Get barometer reading
      description: Retrieves the current barometer reading using Barometer.GetCurrentReading. Returns atmospheric pressure in hectopascals (hPa).
      tags:
      - Barometer
      responses:
        '200':
          description: Successful reading
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BarometerReading'
        '404':
          description: Barometer not available
components:
  schemas:
    BarometerReading:
      type: object
      description: Barometer reading data
      properties:
        stationPressureInHectopascals:
          type: number
          format: double
          description: Atmospheric pressure in hPa
        timestamp:
          type: string
          format: date-time
externalDocs:
  description: Windows.Devices.Sensors API Reference
  url: https://learn.microsoft.com/en-us/uwp/api/windows.devices.sensors
